{% extends 'base.html.twig' %}

{% block body %}
<!-- Page content-->
<div class="bg_form">
<h1 class="title_form">Page de test</h1>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='accueil.html'">
    <p class="question">Accueil</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='administration.html'">
    <p class="question">Administration</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='ajout.html'">
    <p class="question">Ajout</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='login.html'">
    <p class="question">Login</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='modification.html'">
    <p class="question">Modification</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='pre-modification.html'">
    <p class="question">Pre-modification</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='questions.html'">
    <p class="question">Questions</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='resultat.html'">
    <p class="question">Resultat</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='solution.html'">
    <p class="question">Solution</p>
</div>
</div>
<!-- End page content -->
{% endblock %}
