{% extends 'base.html.twig' %}

{% block body %}

<title>Page d'accueil</title>

<!-- Page content-->

<div class="bg_form">
<h1 class="title_form">Page de test</h1>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='/'">
    <p class="question">Accueil</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='admin'">
    <p class="question">Administration</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='ajout'">
    <p class="question">Ajout</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='login'">
    <p class="question">Login</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='modification'">
    <p class="question">Modification</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='pre-modification'">
    <p class="question">Pre-modification</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='questions'">
    <p class="question">Questions</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='resultat'">
    <p class="question">Resultat</p>
</div>
<div class="col-sm btn-outline-primary case-question" onclick="window.location='solution'">
    <p class="question">Solution</p>
</div>
</div>
<!-- End page content -->
{% endblock %}
