{% extends 'base.html.twig' %}

{% block body %}

<link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />


<title>HanoverFAQ</title>

<!-- Page content-->

<div class="bg_form question-form" id="Q1">
<br>
<h2 class="title_form">Question 1 - Votre problème concerne...</h2>

<p class="questions-tree"></p>
<div class="zone-questions">
    <div class="row">
        <div class="col-sm btn-outline-primary case-question" onclick="R1_1()">
            <p class="question">Application mobile</p>
        </div>
        <div class="col-sm btn-outline-primary case-question" onclick="R1_2()">
            <p class="question">Base de données</p>
        </div>
        <div class="col-sm btn-outline-primary case-question" onclick="R1_3()">
            <p class="question">Embarqué</p>
        </div>
        <div class="col-sm btn-outline-primary case-question" onclick="R1_4()">
            <p class="question">Général</p>
        </div>
    </div>
        <div class="row">
            <div class="col-sm btn-outline-primary case-question" onclick="R1_5()">
            <p class="question">IHM</p>
            </div>
            <div class="col-sm btn-outline-primary case-question" onclick="R1_6()">
            <p class="question">Intervention sur les données</p>
            </div>
            <div class="col-sm btn-outline-primary case-question" onclick="R1_7()">
            <p class="question">Livraison / Mise à jour</p>
            </div>
            <div class="col-sm btn-outline-primary case-question" onclick="R1_8()">
            <p class="question">Serveur</p>
        </div>
    </div>
        <div class="row">
            <div class="col-sm btn-outline-primary case-question" onclick="R1_9()">
            <p class="question">SIRI / SIRI Light</p>
            </div>
            <div class="col-sm btn-outline-primary case-question" onclick="R1_10()">
            <p class="question">Non déterminé</p>
        </div>
    </div>
    <br>
</div>
<!-- <button type="button" class="btn btn-warning btn-rechercher">Rechercher</button> -->
</div>

<div class="bg_form question-form-invisible" id="Q2">
<br>
<h2 class="title_form">Question 2 - Son impact est-il...</h2>
<button type="button" class="btn btn-secondary questions-tree" onclick="Retour1()">Retour</button>
{# <p class="questions-tree" id="history1">/Catégorie</p> #}
<div class="container">
    <div class="row">
        <div class="col-sm btn-outline-primary case-question" onclick="R2_1()">
            <p class="question">Mineur</p>
        </div>
        <div class="col-sm btn-outline-primary case-question" onclick="R2_2()">
            <p class="question">Majeur</p>
        </div>
        <div class="col-sm btn-outline-primary case-question" onclick="R2_3()">
            <p class="question">Bloquant</p>
        </div>
        <div class="col-sm btn-outline-primary case-question" onclick="R2_4()">
            <p class="question">Simple</p>
        </div>
    </div>
        <div class="row">
            <div class="col-sm btn-outline-primary case-question" onclick="R2_5()">
            <p class="question">Critique</p>
            </div>
            <div class="col-sm btn-outline-primary case-question" onclick="R2_6()">
            <p class="question">Fonctionnalité</p>
            </div>
            <div class="col-sm btn-outline-primary case-question" onclick="R2_7()">
            <p class="question">Cosmétique</p>
            </div>
            <div class="col-sm btn-outline-primary case-question" onclick="R2_8()">
            <p class="question">Serveur</p>
        </div>
    </div>
        <div class="row">
            <div class="col-sm btn-outline-primary case-question" onclick="R2_9()">
            <p class="question">Je ne sais pas</p>
        </div>
    </div>
    <br>
</div>
<!-- <button type="button" class="btn btn-warning btn-rechercher">Rechercher</button> -->
</div>

<div class="bg_form question-form-invisible" id="Q3">
<br>
<h2 class="title_form">Question 3 - Ajouter des mots clés à la recherche :</h2>
<button type="button" class="btn btn-secondary questions-tree" onclick="Retour2()">Retour</button>
{# <p class="questions-tree" id="history1">/Catégorie</p>
<p class="questions-tree" id="history2">/Catégorie/Impact</p> #}
<div class="container">
    <br>

    <!-- https://larainfo.com/blogs/bootstrap-5-tags-input-examples -->
    
    <input name='tags' value='' class="form-control" autofocus>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@yaireo/tagify"></script>
    <script src="https://unpkg.com/@yaireo/tagify@3.1.0/dist/tagify.polyfills.min.js"></script>
    <script>

    var input = document.querySelector('input[name=tags]');
    var tagify = new Tagify(input);
    


    // définir une fonction pour afficher les valeurs de tous les tags
    function displayTags() {
        // récupérer la valeur de la barre de tags
        var tagValues = tagify.value;
        // afficher le tableau dans la console

        const valuesTags = tagValues.map(obj => obj.value);

        console.log(valuesTags);
        return valuesTags;
    }

    </script>
    <br>
    
</div>
<button onclick="displayTags(); document.getElementById('demo').innerHTML=displayTags();" class="btn btn-success btn-rechercher">Rechercher</button>
<p id="demo">ici tags</p>
</div>


<!-- End page content -->

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="public\assets\js\scripts.js"></script>
    <!-- End bootstrap core JS -->





{% endblock %}