{% extends 'base.html.twig' %}

{% block body %}

<title>HanoverFAQ</title>

        <!-- Page content-->
        
        <br><br>
        <h2 class="title_form">Liste des Mantis correspondant à la recherche</h2>
        <div class="bg_form">
            <li class="no_list">
                <ul class="no_list" id="mantis-list">
                    {% for rs in allResults %}
                        {% if rs.Categorie == "Catégorie" %}
                            {% if rs.Impact == "Impact" %}
                                <li><a class="dropdown-item">{{rs.projectName}}<button type="button" class="btn btn-primary">Voir la solution</button> </a></li>
                                <li><hr class="dropdown-divider" /></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </div>
        <!-- End page content -->




        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- End bootstrap core JS -->

{% endblock %}