{% extends 'base.html.twig' %}

{% block body %}

        <!-- Page content-->
        
        <br><br>
        <h2 class="title_form">Liste des Mantis correspondant à la recherche</h2>
        <div class="bg_form">
            <li class="no_list">
                <ul class="no_list" id="mantis-list">
                    <li><a class="dropdown-item">Nom du mantis #1<button type="button" class="btn btn-primary">Voir le Mantis</button> </a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item">Nom du mantis #2<button type="button" class="btn btn-primary">Voir le Mantis</button> </a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item">Nom du mantis #3<button type="button" class="btn btn-primary">Voir le Mantis</button> </a></li>
                    <li><hr class="dropdown-divider" /></li>
                </ul>
            </li>
        </div>
        <!-- End page content -->




        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- End bootstrap core JS -->

{% endblock %}